@import "locomotive-scroll/dist/locomotive-scroll.css";
@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: auto;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Rubik";
}

#logo-text {
  font-family: "Goldman";
}

body::-webkit-scrollbar {
  display: none;
}

#contact ::-webkit-inner-spin-button,
::-webkit-inner-spin-button {
  display: none;
}

#search-results::-webkit-scrollbar {
  display: none;
}

/* index.css */

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.shimmer {
  position: relative;
  overflow: hidden;
}

.shimmer::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.08),
    transparent
  );
  animation: shimmer 1.5s infinite;
}
